@import 'nib' 

html,
body
  height: 100%
body
  padding: 50px
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
  background: linear-gradient(top, white, #d2fbd2)
a
  color: #00B7FF

@import "mixins/pantry"
